# Dependencies
node_modules/

# npm
.npmrc

# Production
dist/
build/

# Test Coverage
coverage/

# Package Lock
bun.lock

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
